* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #7E78D2;
  --black: #0F0F0F;
  --blackLighter: #2D2E2E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FBFBFB;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --bodyPaddingTop: 80px;
	padding-top: var(--bodyPaddingTop);
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}